/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --design-color: #FF0070;
    --accent-color: #FF0070;
    --main-heading-text-color: #DB00FF;
    --heading-text-color: #000028;
    --main-font: IBM Plex Mono, monospace;
    --font-size: 18px;
    --main-gap: 10px;
    --heading-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {

  :root {
    --main-gap: 20px;
    --heading-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}