/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --heading-text-color: #DB00FF;
    --main-font: IBM Plex Mono, monospace;
    --font-size: 18px;
}